##################################
# Global
##################################

.DS_Store
Thumbs.db
*.log
*.lock

##################################
# Environment Files
##################################

.env
.env.local
.env.*.local
!.env.example

##################################
# Frontend (Vue / React / Vite)
##################################

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/
frontend/.cache/
frontend/.env
frontend/.env.*
!frontend/.env.example

##################################
# Backend (Laravel)
##################################

backend/vendor/
backend/node_modules/

backend/public/storage

backend/storage/app/*
backend/storage/framework/*
backend/storage/logs/*
backend/storage/*.key

backend/bootstrap/cache/*

backend/.env
backend/.env.*
!backend/.env.example

backend/*.log

##################################
# IDE Files
##################################

.vscode/
.idea/